@media (max-width: 639px) {
    
h2 {
    font-size: 6.11vw;
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
  letter-spacing: -0.28vw;
  text-transform: uppercase;
}
h3 {
    font-size: 5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
  letter-spacing: -0.28vw;
}
h4 {
    font-size: 4.44vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  letter-spacing: -0;
  text-transform: uppercase;
}
h5 {
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  letter-spacing: -0;
  text-transform: uppercase;
}
.navigation_header {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 2.78vw 2.78vw;
  z-index: 2;
  background-color: var(--bg-color-body);
  height: 22.22vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  scroll-margin-top: 27.78vw;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 18.33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.28vw;
  flex-shrink: 0;
}
.logo:hover {
    opacity: 0.5;
}
.logo1 {
  transform: scale(0.8);
}
.logo2 {
  width: 18.33vw;
  height: 6.67vw;
  font-style: oblique;
  transform: scale(1, 2);
}
.logo2 h3 {
  font-size: 4.72vw;
}  
.navigation_items > a {
    display: inline;
    margin-left: 11.11vw;
    text-decoration: none;
    font-weight: 400;
    font-size: 4.44vw;
    transition: .4s ease-in-out; 
    color: var(--main-text-color);
  }
.navigation_items > a:hover {
    opacity: 0.5;
  }
.contact_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11.11vw;
}
.phone {
  font-size: 5vw;
}
.phone:hover {
  opacity: 0.7;
  cursor: pointer;
}
  
/*Popup client order*/

#grey {
  background-color: rgba(1, 1, 1, 0.25);
  position: fixed;
  left: 0;right: 0;bottom: 0;top: 0;
  display: none;
  z-index: 5;
}
.client_order_popup, .thank_for_order {
  margin: 0 auto;
  padding: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102.78vw;
  border: 0.28vw solid transparent;
  background-color: transparent;
  display: none;
  z-index: 6;
}
.close_button {
  position: absolute;
  top: 0; right: 0;
  width: 9.72vw; height: 9.72vw;
  padding: 1.94vw;
  background-color: var(--bg-color-body);
  border-radius: 5.56vw;
}
.client_order, .thank_info {
  display: flex;
  flex-direction: column;
  gap: 11.11vw;
  width: 93.06vw;
  margin: 8.33vw 8.33vw 0 1.39vw;
  padding: 4.17vw; 
  background-color: var(--bg-color-body);
  border: 0.28vw solid var(--main-text-color);
  border-radius: 11.11vw;
}

.client_info {
  width: 83.89vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.56vw;
}
.client_info_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.78vw;
}
.sign_up_button {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.78vw;
}
.client_info h3{
  width: 100%;
}
.client_info_form input, .client_info_form textarea{
  width: 100%;
  padding: 3.33vw 5.56vw;
  border-radius: 5.56vw;
  border: 0.28vw solid var(--main-text-color);
}
.client_info_form input::-webkit-input-placeholder { /* WebKit browsers */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info_form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info_form input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info_form input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info_form textarea {
  height: 27.78vw;
}
.client_info_form textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info_form textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info_form textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info_form textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: var(--main-text-color);
  opacity: 0.3;
}
.client_info .sign_up_button {
  width: 100%;
}
.confidential_policy{
  width: 100%;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0;
}
.confidential_policy_link {
  text-decoration: none;
  color: var(--main-text-color);
}
.thank_for_order {
 height: 165vw; 
}
.thank_info {
  display: flex;
  flex-direction: column; 
  gap: 8.33vw;
}
.thank_text {
  display: flex;
  flex-direction: column; 
  gap: 5.56vw;
}
.thank_text h3{
  width: 100%;
}
.thank_you {
  font-size: 12.78vw;
  font-style: italic;
  font-weight: 400;
  line-height: 110%; /* 61.6px */
  letter-spacing: -0.56vw;
  text-transform: lowercase;
}
.thank_img {
  width: 100%;
  height: 55.56vw;
  border-radius: 11.11vw;
  background-color: lightgray;
  overflow: hidden;
}
.thank_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transform: scaleX(-1);
}
.scroll_button {
  width: 13.89vw;
  height: 13.89vw;
  position: fixed;
  right: 4.17vw;
  bottom: 4.17vw;
  border-radius: 10.83vw;
  padding: 2.5vw 3.06vw;
  background-color: var(--add-text-color);
  box-shadow: 0.28vw 0.28vw 1.67vw 0px rgba(0, 0, 0, 0.25);
  z-index: 4;
}
main {
    margin-left: 2.78vw;
    margin-right: 2.78vw;
    display: flex;
    flex-direction: column;
    gap: 20.83vw;
}
  .side_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5.56vw;
}
  .side_title_description {
    width: 100%;
    font-size: 3.89vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0;
}
#agitation {
  width: 100%;
  margin-top: 5.56vw;
  margin-bottom: 5.56vw;
}
.parvati {
  width: 100%;
  height: 50vw;
}
.title {
  text-align: center;
}
.slogan {
    width: 70.28vw;
    height: 18.33vw;
    font-size: 5.56vw;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 27.5px */
    letter-spacing: -0;
    margin-left: 0;
    margin-bottom: 9.72vw;
  }

  
#about_us {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
}
.about_us_text {
  width: 94.44vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3.33vw;
}
.first_paragraph {
    width: 94.44vw;
    height: 48.89vw;
    font-size: 5.56vw;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  letter-spacing: -0;
}
.first_paragraph::first-letter {
  margin-left: 0;
}
.second_paragraph {
  width: 94.44vw;
  height: 30vw;
  margin-left: 0;
  font-size: 3.89vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  letter-spacing: -0;
}
.third_paragraph {
    width: 94.44vw;
    height: 41.67vw;
    font-size: 5.28vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0;
}
.about_us_img {
    width: 100%;
  height: 55.56vw;
}
.about_us_img img {
    width: 100%;
  height: 55.56vw;
  filter: grayscale(100%);
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 51.11vw;
}
  
/*What we do*/

#what_we_do {
  width: 94.44vw;
  display: flex;
    flex-wrap: wrap;
}
#what_we_do h2 {
  margin-bottom: 8.33vw;
}
.card {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 0.28vw solid var(--border);
  border-radius: 2%;
}
.card_text {
  width: 100%;
  height: 71.39vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.card_title {
  margin-top: 4.44vw;
  margin-left: 4.44vw;
  margin-right: 4.44vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card p {
  margin: 0 4.44vw 4.44vw 4.44vw;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0;
}
.symbol_card {
  display: none;
}
.slider_container {
  display: none;
}

#what_you_can_maintain {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 11.11vw;
  position: relative;
}
#what_you_can_maintain .side_title {
  position: absolute;
  width: 94.44vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  gap: 5.56vw;
}
.points {
  position: relative;
  width: 100%;
  height: 180.56vw;
  
}
.points > div {
  position: absolute;
  border-radius: 10vw;
  border: 0.28vw solid var(--main-text-color);
}
.points > div > p {
  text-align: center;
  font-size: 5.28vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  letter-spacing: -0;
  padding: 3.33vw 3.33vw;
}
.points > div:has(:not(img)) {
  height: 13.61vw;
  border-radius: 10vw;
}
.points > div:has(img) {
  border-radius: 13.89vw;
}
.point1 {
  width: 21.11vw;
  height: 21.11vw;
  top: 70vw;
  left: 38.61vw;
  background-color: var(--bg-color-add2);
}
.point1 img {
  align-items: center;
  width: 13.61vw;
  height: 14.17vw;
  margin: 3.33vw 3.06vw;
}
.point2 {
  transform: rotate(15.908deg);
  width: 28.06vw;
  top: 125.56vw;
  left: 40.56vw;
}
.point3 {
  width: 47.78vw;
  transform:  rotate(27.19deg);
  background-color: var(--bg-color-add3);
  top: 130.83vw;
  left: 8.33vw;
}
.point4 {
  width: 21.11vw;
  height: 21.11vw;
  background-color: var(--bg-color-add1);
  opacity: 0.8;
  transform: rotate(-4.663deg);
  top: 108.89vw;
  left: 23.61vw;
}
.point4 img {
  width: 14.72vw;
  height: 14.72vw;
  margin: 2.5vw 2.78vw;
}
.point5 {
  width: 41.94vw;
  transform: rotate(56.034deg);
  top: 107.5vw;
  left: 60.56vw;
} 
.point6 {
  width: 20.28vw;
  height: 20.28vw;
  background-color: var(--bg-color-add3);
  transform: rotate(-22.772deg);
  top: 84.72vw;
  left: 0.56vw;
}
.point6 img {
  width: 14.72vw;
  height: 14.72vw;
  margin: 2.78vw 2.78vw;
}
.point7 {
  width: 40.56vw;
  background-color: var(--bg-color-add1);
  transform: rotate(-36.595deg);
  top: 153.89vw;
  left: 0.28vw;
}
.point8 {
  width: 48.06vw;
  transform: rotate(-30.087deg);
  top: 63.89vw;
  left: 7.78vw;
}
.point9 {
  width: 39.17vw;
  background-color: var(--bg-color-add3);
  transform: rotate(27.991deg);
  top: 112.22vw;
  left: 41.94vw;
}
.point10 {
  width: 19.44vw;
  height: 19.44vw;
  background-color: var(--bg-color-add2);
  top: 136.39vw;
  left: 2.5vw;
}
.point10 img {
  width: 14.72vw;
  height: 14.72vw;
  margin: 2.22vw 2.22vw;
}
.point11 {
  width: 38.61vw;
  transform: rotate(-41.085deg);
  top: 106.39vw;
  left: -3.89vw;
}
.point12 {
  width: 41.11vw;
  transform: rotate(15deg);
  top: 91.11vw;
  left: 26.11vw;
}
.point13 {
  width: 20.56vw;
  height: 20.56vw;
  background-color: var(--bg-color-add3);
  top: 155vw;
  left: 32.5vw;
}
.point13 img {
  width: 13.61vw;
  height: 13.89vw;
  margin: 3.33vw 2.78vw;
  transform: scaleX(-1);
}
.point14 {
  width: 44.72vw;
  top: 161.94vw;
  left: 52.5vw;
}
.point15 {
  width: 44.17vw;
  background-color: var(--bg-color-add2);
  transform: rotate(-38.27deg);
  top: 139.17vw;
  left: 46.67vw;
}
.point16 {
  width: 19.44vw;
  height: 19.44vw;
  background-color: var(--bg-color-add1);
  opacity: 0.8;
  top: 142.5vw;
  left: 77.78vw;
}
.point16 img {
  width: 14.72vw;
  height: 14.72vw;
  margin: 2.22vw 2.22vw;
}
.point17 {
  width: 41.39vw;
  background-color: var(--bg-color-add3);
  transform: rotate(26.36deg);;
  top: 83.06vw;
  left: 57.78vw;
}

/*Teachers*/

#yoga_teachers {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 8.33vw;
}

.teachers {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 5.56vw;
}

.teacher {
  width: 94.44vw; /*370px;max-height: 443px;*/
  
  display: flex;
  flex-direction: column;
  border: 0.28vw solid var(--border);
  border-radius: 11.11vw;
}
/*.teacher.active {
  max-width: 66.2%;
}*/
.teacher_brief_info {
  width: 94.44vw;
  display: flex;
  padding: 8.33vw 12.5vw 2.78vw 12.5vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4.44vw;
  position: relative;
}
/*.teacher.active  .teacher_brief_info{
  min-width: 370px;
}*/

.teacher_brief_info svg {
  position: absolute;
  top: 6.67vw;
  right: 6.67vw;
  transition: transform 1s;
}
.teacher.active .teacher_brief_info svg {
  transform: rotate(-225deg);
  transition: transform 1s;
}
/*.teacher.active .teacher_brief_info, .teacher.active .teacher_info {
  width: 50%;
}*/
.teacher_info {
  display: none;
}
.teacher.active .teacher_info {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  padding: 5.56vw 5.56vw 5.56vw 5.56vw;
  gap: 8.33vw;
  animation: fading 1s ease-in-out;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.teacher_img {
  width: 69.44vw;
  height: 69.44vw;
  border-radius: 55.56vw;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.teacher_name p {
  font-size: 3.33vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0;
  width: 44.44vw;
}
.teacher_practice {
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0;
  max-width: 50.28vw;
}
.teacher_info_text {
  
  display: flex;
  flex-direction: column;
  gap: 2.78vw;
  font-size: 4.17vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0;
}
.teacher_info_text p {
  width: 83.33vw;
}

/*Feedback*/
#feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
}
#feedback .side_title {
  width: 94.44vw;
}
#feedback .side_title_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5.56vw;
  justify-content: flex-start;
}
.feedback_link {
  display: none;
}
.reviews {
  position: relative;
  overflow: auto;
}
.review_slider {
  width: 97.22vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2.78vw;
  scroll-snap-type: x mandatory;
}
.reviews::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.review_slider > div {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.review {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-blocks);
  width: 88.89vw;
  height: 126.11vw;
  border-radius: 6.67vw;
}
.review_brief_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 83.33vw;
  padding: 5.56vw 5.56vw;
}
.short_phrase {
  width: 44.72vw;
  text-align: right;
  align-content: center;
  font-size: 4.44vw;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
}
.review_photo {
  
  width: 26.39vw;
  height: 26.39vw;
  border-radius: 26.39vw;
  overflow: hidden;
  
}
.review_photo img {
  width: 26.39vw;
  height: 26.39vw;
  filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
}
.review:first-child .review_photo img {
  -o-object-position: 1.39vw 2.78vw;
     object-position: 1.39vw 2.78vw;
  transform: scale(2);
}
.review_info {
  width: 77.78vw;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
  padding: 1.11vw 5.56vw 5.56vw 5.56vw;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0;
}
.review_author {
  text-align: left;
  opacity: 0.6;
}
.double_quotes {
  display: none;
}
.review_text {
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
}
.review_text p {
  width: 77.78vw;
  height: 55vw;
  text-align: left;
}
.review_link {
  letter-spacing: -0;
  opacity: 0.5;
  text-transform: lowercase;
}
.review_arrows {
  display: none;
}


/*services*/

#services {
  width: 94.44vw;
}
#prices {
  width: 94.44vw;
  height: auto;
}
.tabs-controller {
  width: 100%;
}
.tabs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
  width: 100%;
}
.tabs-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.56vw;
}
.buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 1.11vw;

}
.button {
  width: 46.67vw;
  height: 10.28vw;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
  letter-spacing: -0;
  cursor: pointer;
  border: 0.28vw solid var(--border);
  border-radius: 11.11vw;
  padding: 2.78vw 4.44vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button.active {
  color: var(--add-text-color);
  border: 0.28vw solid var(--add-text-color)
}

.tab-contents {
  width: 94.44vw;
  height: auto;
}
.content .service {
  display: none;
}
.content.active .service {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 3.33vw;
}

.service_brief_info {
  font-size: 5.56vw;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 27.5px */
  letter-spacing: -0;
}
.service_info {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
}
.service_img {
  width: 94.44vw;
  height: 77.22vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 11.11vw;
  filter: grayscale(100%);
}
.service_info_text {
  display: flex;
  flex-direction: column;
  gap: 3.33vw;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0;
}

/*Timetable*/

#timetable {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
}
#timetable .side_title {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 5.56vw;
}
#timetable .side_title .side_title_description {
  display: flex;
  flex-direction: column;
  gap: 2.78vw;
}
#timetable .timetable_hatha {
  width: 94.44vw;
}
.desktop {
  display: none;
}
.tablet {
  display: none;
}
.mobile {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2.78vw;
}
.day {
  width: 94.44vw;
  height: 16.11vw;
  padding: 4.44vw 5.56vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-color-blocks);
  border: 0.28vw solid var(--bg-color-blocks);
  border-radius: 2.22vw;
}
.day h5 {
  text-transform: lowercase;
}
.day svg {
  width: 6.11vw;
  height: 7.22vw;
}
.mobile:nth-child(6) .day {
  background-color: var(--bg-color-add1);
  border: 0.28vw solid var(--bg-color-add1);
}
.day_lessons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.39vw;
  margin-left: 5.56vw; 
  margin-top: 1.39vw;
}
.time {
  width: 36.11vw;
  height: 15vw;
  text-align: center;
  align-content: center;
  font-size: 4.44vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; 
  letter-spacing: -0;
  text-transform: uppercase;
  background-color: var(--bg-color-blocks);
  border-radius: 2.22vw;
}
.kseniya {
  background-color: var(--bg-color-add3);
}
.sergey {
  background-color: var(--bg-color-add2);
}
.kseniya, .sergey {
  width: 51.39vw;
  height: 15vw;
  text-align: center;
  align-content: center;
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0;
  border-radius: 2.22vw;
}
.days .day_timetable {
  display: none;
}
.days.active .day_timetable {
  display: block;
}
.days.active .day svg {
  transform: scaleY(-1);
  transition: transform 0.5s;
}

/*Offers*/

#special_offers {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
}
#special_offers .side_title p{
  width: 94.44vw;
  font-size: 4.17vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: -0;
}
.special_offer {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 27.78vw;
}
.special_offer_img {
  width: 94.44vw;
  border-radius: 11.11vw 11.11vw 0px 0px;
  overflow: hidden;
}
.special_offer_img img.mobile {
  width: 94.44vw;
  height: 111.11vw;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transform: scale(1.3);
}
.invite_friend1, .invite_friend2 {
  display: none;
}
.special_offer_info {
  background-color: var(--bg-color-add3);
  border-radius: 47.22vw 47.22vw 0px 0px;
  width: 94.44vw;
  height: 68.89vw;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.56vw;
  position: absolute;
  margin-top: -47.22vw;
}
.info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info1 .part1 {
  width: 42.78vw;
  font-family: "Playfair Display";
  font-size: 12.22vw;
  font-style: italic;
  font-weight: 400;
  line-height: 110%; /* 61.6px */
  letter-spacing: -0.28vw;
  text-transform: lowercase;
}
.info1 .part2 {
  width: 40.83vw;
  font-size: 8.89vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 52px */
  letter-spacing: -0.28vw;
}
.info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info2 .part1 {
  width: 56.67vw;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0;
}
.info2 .part2 {
  width: 39.17vw;
  font-family: "Playfair Display";
  font-size: 12.22vw;
  font-style: italic;
  font-weight: 400;
  line-height: 110%; /* 61.6px */
  letter-spacing: -0.28vw;
  text-transform: lowercase;
}

/*PRICES*/
#prices .tabs-controller .tabs-wrapper .tabs-buttons .buttons .button {
  height: 13.89vw;
}
.tab-contents {
  width: 94.44vw;
  height: auto;
}
.content {
  display: none;
}
.content.active {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 2.78vw; 
}
.abonement {
  padding: 5.56vw;
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
  background-color: var(--bg-color-blocks);
  border-radius: 5.56vw;
}
.group_abonement {
  display: flex;
  flex-direction: column;
  gap: 7.22vw;
  justify-content: start;
  position: relative;
  padding: 5.56vw;
  border-radius: 5.56vw;
  background-color: var(--bg-color-blocks);
}
.abonement_title {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
}
.abonement_teacher {
  width: 68.89vw;
}
.abonement_classes {
  width: 43.61vw;
  padding: 2.22vw 5.56vw;
  border-radius: 17.22vw;
  color: var(--add-text-color);
  background-color: var(--bg-color-add1);
}  
.abonement_text {
  display: none;
  width: 94.44vw;
  
}
.group_abonement.active .abonement_text {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 2.78vw;
  
} 
.abonement_description {
  display: flex;
  flex-direction: column;
  gap: 2.22vw; 
}
.abonement_info {
  display: flex;
  flex-direction: column;
  gap: 2.22vw;
}
.abonement_info p {
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0;
}
.abonement_price {
  font-size: 5vw;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; 
  letter-spacing: -0;
}
#prices .abonement_text button {
  width: 83.33vw;
}
.strelka {
  position: absolute;
  top: 5.56vw;
  right: 5.56vw;
  
}
.group_abonement.active .strelka {
  transform: scaleY(-1);
  transition: transform 0.5s;
}
.thai_massage {
  display: flex;
  flex-direction: column;
  gap: 5.56vw;
  padding: 5.56vw;
  background-color: var(--bg-color-blocks);
  border-radius: 5.56vw;
}

#our_certificates {
  display: none;
}

/*ARTICLES*/
#articles {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
  overflow-x: scroll;
}
.our_articles {
  width: 555.56vw;
  display: flex;
  flex-flow: row nowrap;
  gap: 2.78vw;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}
.our_articles > div {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
.our_articles::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.article {
  width: 88.89vw;
  height: 88.61vw;
  overflow: hidden;
}
.article_img {
  width: 88.89vw;
  height: 69.44vw;
  border-radius: 11.11vw;
  overflow: hidden;
}
.article_img img {
  width: 88.89vw;
  height: 69.44vw;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.article a {
  text-decoration: none;
}
.article a h4:hover {
  opacity: 0.5
}
.article a img:hover {
  transform: scale(1.1);
}
.article_title {
  width: 83.33vw;
  margin-top: 1.67vw;
}
.our_articles .article:nth-child(1),.our_articles .article:nth-child(4) {
  display: none;
}
.our_articles .article:nth-child(7)  {
  display: flex;
  width: 55.56vw;
  height: 55.56vw;
  margin: 6.67vw 5.56vw;
  padding: 24.44vw 11.11vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 39.72vw;
  border: 0.28vw solid var(--add-text-color);
}
.our_articles .article:nth-child(7) .article_title {
  width: 33.89vw;
}
.our_articles .article:nth-child(7) a:hover {
  color: var(--add-text-color);
}
.our_articles .article:nth-child(8) a img {
  -o-object-position: 10% 10%;
     object-position: 10% 10%;
}
.articles_link {
  display: none;
}

/*FAQ*/
#FAQ {
  width: 94.44vw;
  display: flex;
  flex-direction: column;
  gap: 8.33vw;
  margin-bottom: 27.78vw;
}

.faq {
  cursor: pointer;
  border-bottom: 0.28vw solid var(--border);
}
.faq:first-child {
  border-top: 0.28vw solid var(--border);
}
.question {
  height: 11.67vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8.33vw 0;
}
.question h4 {
  width: 88.33vw;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}
.answer p {
  width: 94.44vw;
  margin-bottom: 5.56vw;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; 
  letter-spacing: -0;
}
.faq.active .answer {
  max-height: 83.33vw;
  animation: fade 1s ease-in-out;
}
.faq svg {
  transition: transform 0.5s;
}
.faq.active svg {
  transform: scaleY(-1);
  transition: transform 0.5s;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-2.78vw);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


/*Footer*/

#footer {
  width: 100vw;
}
.marquee-text {
  background-color: var(--bg-color-body);
  height: 13.33vw;
  max-width: 100%; 
  overflow: hidden;
}
.marquee-text div {
  display: flex;
  gap: 8.33vw;
  width: 200%;
  animation: marquee 20s linear infinite;
}
.marquee-text img {
  height: 12.5vw;
  width: 12.5vw;
  margin: 1.39vw 0;
  
}
.marquee-text div p {
  white-space: nowrap;
  width: 100%;
  font-size: 8.89vw;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -3.06vw;
  text-transform: uppercase;
} 

.add_decor {
  font-size: 12.22vw;
  font-style: italic;
  font-weight: 400;
  line-height: 110%; /* 61.6px */
  letter-spacing: -0.28vw;
  text-transform: lowercase;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.footer {
  margin-top: 2.78vw;
  width: 100vw;
  height: 224.72vw;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-footer);
}
.footer_map {
  width: 94.44vw;
  height: 111.11vw;
  overflow: hidden;
  margin: 0 2.78vw 11.11vw 2.78vw;
}
.footer_map iframe {
  
  
  filter: grayscale(50%);
}
.footer_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 13.89vw 2.78vw 13.89vw 2.78vw;
  
}
.menu {
  width: 47.22vw;
  display: flex;
  flex-direction: column;
  gap: 6.11vw;
  color: var(--bg-color-blocks);
  
}
.menu_links {
  display: flex;
  flex-direction: column;
  gap: 3.33vw;
}
.menu_links li {
  list-style: none;
}
.menu_links li a {
  text-decoration: none;
  color: var(--bg-color-blocks);
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0;
  opacity: 70%;
}
.contacts {
  width: 47.22vw;
  display: flex;
  flex-direction: column;
  gap: 6.11vw;
  color: var(--bg-color-blocks);
  
}

.contacts_links {
  display: flex;
  flex-direction: column;
  gap: 3.33vw;
  font-size: 3.89vw;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  letter-spacing: -0;
  opacity: 70%;
}
.social_media {
  margin-top: 2.22vw;
  display: flex;
  flex-direction: row;
  gap: 2.78vw;
}
.vk {
  display: flex;
  width: 12.5vw;
  height: 12.5vw;
  padding: 3.61vw 2.22vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6.39vw;
  border: 0.28vw solid var(--bg-color-blocks);
}
.instagram {
  display: flex;
  width: 12.5vw;
  height: 12.5vw;
  padding: 2.78vw;
  justify-content: center;
  align-items: center;
  border-radius: 6.39vw;
  border: 0.28vw solid var(--bg-color-blocks);
}
}