@media  (min-width: 640px) and (max-width: 1199px) {
    
    h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%; /* 32.48px */
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    letter-spacing: -1px;
  }
  h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  
  
  /*header*/
  
  .navigation_header {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 20px 20px;
    z-index: 2;
    background-color: var(--bg-color-body);
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section {
    scroll-margin-top: 100px;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    max-width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    flex-shrink: 0;
  }
  .logo:hover {
      opacity: 0.5;
  }
  .logo2 {
    width: 66px;
    height: 24px;
    font-style: oblique;
    transform: scale(1, 2);
  }
      
  .navigation_items > a {
      display: inline;
      margin-left: 40px;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      transition: .4s ease-in-out; 
      color: var(--main-text-color);
    }
  .navigation_items > a:hover {
      opacity: 0.5;
    }
  .contact_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
  }
  .phone {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0;
    text-transform: uppercase;
  }
  .phone:hover {
    opacity: 0.7;
    cursor: pointer;
  }
    
  /*Popup client order*/
  
  #grey {
    background-color: rgba(1, 1, 1, 0.25);
    position: fixed;
    left: 0;right: 0;bottom: 0;top: 0;
    display: none;
    z-index: 3;
  }
  .client_order_popup, .thank_for_order {
    margin: 0 auto;
    padding: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border: 1px solid transparent;
    background-color: transparent;
    display: none;
    z-index: 4;
  }
  .close_button {
    position: absolute;
    top: 0; right: 0;
    width: 40px; height: 40px;
    padding: 10px;
    background-color: var(--bg-color-body);
    border-radius: 20px;
  }
  .client_order, .thank_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 530px;
    margin: 30px  30px 0 30px;
    padding: 30px; 
    background-color: var(--bg-color-body);
    border: 1px solid var(--main-text-color);
    border-radius: 40px;
  }
  
  .client_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .client_info_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sign_up_button {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .client_info h3{
    width: 456px;
    height: 48px;
  }
  .client_info_form input, .client_info_form textarea{
    width: 470px;
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid var(--main-text-color);
  }
  .client_info_form input::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info_form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info_form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info_form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info_form textarea {
    height: 100px;
  }
  .client_info_form textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info_form textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info_form textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info_form textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: var(--main-text-color);
    opacity: 0.3;
  }
  .client_info .sign_up_button {
    width: 470px;
  }
  .confidential_policy{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0;
  }
  .confidential_policy_link {
    text-decoration: none;
    color: var(--main-text-color);
  }
  .thank_for_order {
   height: 594px; 
  }
  .thank_info {
    height: 540px;
    display: flex;
    flex-direction: column; 
    gap: 40px;
  }
  .thank_text {
    display: flex;
    flex-direction: column; 
    gap: 20px;
  }
  .thank_text h3{
    width: 429px;
  }
  .thank_you {
    font-size: 56px;
    font-style: italic;
    font-weight: 400;
    line-height: 110%; /* 61.6px */
    letter-spacing: -2px;
    text-transform: lowercase;
  }
  .thank_img {
    width: 100%;
    height: 316px;
    border-radius: 40px;
    background-color: lightgray;
    overflow: hidden;
  }
  .thank_img img {
    width: 100%;
    height: 316px;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(100%);
    transform: scaleX(-1);
  }

  .scroll_button {
    width: 78px;
    height: 78px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    border-radius: 39px;
    padding: 23px 25px;
    background-color: var(--add-text-color);
    z-index: 4;
  }
    /*Main*/
  main {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .side_title {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .side_title_description {
    width: 450px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0;
  }
  
    /*Agitation*/
  
  #agitation {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .parvati {
    width: 100%;
    height: 230px;
  }
  .title {
    text-align: center;
  }
  .slogan {
    font-size:  20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 27.5px */
    letter-spacing: -0;
    max-width: 256px;
    max-height: 66px;
    margin-left: 50%;
    margin-bottom: 20px;
  }
    
  
    /*About us*/
  
  #about_us {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .about_us_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 12px;
  }
  .first_paragraph {
    width: 600px;
    height: 88px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    letter-spacing: -0;
  }
  .second_paragraph {
    width: 300px;
    height: 108px;
    margin-left: 50%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: -0;
  }
  .third_paragraph {
    width: 600px;
    height: 75px;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0;
  }
  .about_us_img {
    width: 100%;
    height: 200px;
  }
  .about_us_img img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 184px;
  }
    
  /*What we do*/
  
  #what_we_do {
    width: 600px;
    display: flex;
    flex-flow: row wrap;
  }
  #what_we_do h2 {
    width: 300px;
    height: 240px;
}
  #what_we_do div:not(.card_title) {
    /*outline: 1px solid var(--main-text-color);*/
    outline: 1px solid var(--border);
    border-radius: 2%;
    
  }
  #what_we_do div:first-child{
    outline: none;
  }
  .card {
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .card_text {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }
  .card_title {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card p {
    margin: 0 16px 16px 16px;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: -0;
  }
  .symbol_card {
    display: none;
  }
  .slider_container {
    display: none;
  }
  .no_visible {
    display: none;
  }
  .frame{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  /*#top{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }*/
  .slider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 1s ease-in-out;
  }
  .slider_image{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: antiquewhite;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
    filter: grayscale(100%);
  }
  .arrow {
    position: absolute;
    z-index: 1;
    background: none;
  }
  .arrow_left {
    left:10px;
    
  }
  .arrow_right{
    right:10px;
  }
  
  
  #what_you_can_maintain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
  }
  #what_you_can_maintain .side_title {
    width: 450px;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #what_you_can_maintain .side_title h2 {
    width: 343px;
    height: 52px;
  }
  .points {
    position: relative;
    width: 100%;
    height: 300px;
    
  }
  .points > div {
    position: absolute;
    border-radius: 36px;
    border: 1px solid var(--main-text-color);
    padding: 12px 24px;
  }
  .points > div > p {
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0;
  }
  .points > div:has(:not(img)) {
    height: 49px;
    border-radius: 36px;
  }
  .points > div:has(img) {
    width:76px;
    height: 76px;
    padding: 0;
    border-radius: 50px;
  }
  .point1 {
    width: 76px;
    height: 76px;
    top: 23px;
    left: 279px;
    background-color: var(--bg-color-add2);
  }
  .point1 img {
    width: 55px;
    height: 55px;
    margin: 9px 9px;
  }
  .point2 {
    transform: rotate(26.228deg);
    width: 101px;
    top: 86px;
    left: 390px;
  }
  .point3 {
    width: 172px;
    transform: rotate(-36.96deg);
    background-color: var(--bg-color-add3);
    top: 203px;
    left: 9px;
  }
  .point4 {
    width: 76px;
    height: 76px;
    background-color: var(--bg-color-add1);
    opacity: 0.8;
    transform: rotate(-4.663deg);
    top: 60px;
    left: 213px;
  }
  .point4 img {
    width: 53px;
    height: 53px;
    margin: 11px 11px;
  }
  .point5 {
    width: 153px;
    transform: rotate(44.343deg);
    top: 91px;
    left: 452px;
  } 
  .point6 {
    width: 73px;
    height: 73px;
    background-color: var(--bg-color-add3);
    transform: rotate(-22.772deg);
    top: 3px;
    left: 404px;
  }
  .point6 img {
    width: 53px;
    height: 53px;
    margin: 9px 9px;
  }
  .point7 {
    width: 146px;
    background-color: var(--bg-color-add1);
    transform: rotate(-41.141deg);
    top: 210px;
    left: 94px;
  }
  .point8 {
    width: 173px;
    transform: rotate(10.127deg);
    top: 121px;
    left: 80px;
  }
  .point9 {
    width: 141px;
    background-color: var(--bg-color-add3);
    transform: rotate(-29.111deg);
    top: 101px;
    left: 259px;
  }
  .point10 {
    width: 70px;
    height: 70px;
    background-color: var(--bg-color-add2);
    top: 167px;
    left: 228px;
  }
  .point10 img {
    width: 53px;
    height: 53px;
    margin: 11px 11px;
  }
  .point11 {
    width: 133px;
    top: 243px;
    left: 188px;
  }
  .point12 {
    width: 148px;
    transform: rotate(-18.069deg);
    top: 145px;
    left: 298px;
  }
  .point13 {
    background-color: var(--bg-color-add3);
    top: 219px;
    left: 319px;
  }
  .point13 img {
    width: 49px;
    height: 49px;
    margin: 10px 12px;
    transform: scaleX(-1);
  }
  .point14 {
    width: 161px;
    top: 243px;
    left: 394px;
  }
  .point15 {
    width: 159px;
    background-color: var(--bg-color-add2);
    transform: rotate(-35.476deg);
    top: 163px;
    left: 375px;
  }
  .point16 {
    width: 70px;
    height: 70px;
    background-color: var(--bg-color-add1);
    opacity: 0.8;
    top: 222px;
    left: 554px;
  }
  .point16 img {
    width: 53px;
    height: 53px;
    margin: 9px 13px;
    transform: scale(1.2);
  }
  .point17 {
    width: 149px;
    background-color: var(--bg-color-add3);
    transform: rotate(-13.835deg);
    top: 183px;
    left: 467px;
  }
  
  /*Teachers*/
  
  #yoga_teachers {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 30px;
  }
  
  .teachers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .teacher {
    width: 600px;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border);
    border-radius: 40px;
  }
  .teacher.active {
    width: 600px;
  }
  .teacher_brief_info {
    width: 100%;
    padding: 24px;
    display: grid;
    grid-template-columns: 155px auto 33px;
    grid-template-rows: 67px 56px;
  }
  
  .teacher_brief_info svg {
    grid-column-start: 3;
    grid-row-start: 1;
    margin-right: 0;
    margin-top: 0;
    transition: transform 1s;
  }
  .teacher.active {
    display: flex;
    flex-direction: column;
  }
  .teacher.active .teacher_brief_info {
    padding: 24px 24px 0 24px;
  }
  .teacher.active .teacher_brief_info svg {
    transform: rotate(-225deg);
    transition: transform 1s;
  }
  .teacher_info {
    display: none;
  }
  .teacher.active .teacher_info {
    width: 100%;
    padding: 0 24px 24px 24px;
    margin-left: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    animation: fading 1s ease-in-out;
  }
  @keyframes fading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .teacher_img {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 130px;
    height: 130px;
    border-radius: 200px;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(100%);
  }
  .teacher_name {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .teacher_name p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -0;
    max-width: 255px;
  }
  .teacher_practice {
    grid-column-start: 2;
    margin-top: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -0;
    width: 181px;
  }
  .teacher_info_text {
    width: 332px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: -0;
  }
  
  /*Feedback*/
  #feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #feedback .side_title {
    width: 450px;
    position: relative;
  }
  #feedback .side_title_description {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
  }
  .feedback_link {
    position: absolute;
    top: 450px;
    text-transform: uppercase;
    color: var(--add-text-color);
  }
  .reviews {
    position: relative;
    overflow: auto;
  }
  .review_slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    scroll-snap-type: x mandatory;
  }
  .reviews::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .review_slider > div {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .review {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color-blocks);
    width: 566px;
    height: 300px;
    border-radius: 20px;
  }
  .review_brief_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 256px;
    padding: 20px 40px 20px 20px;
  }
  .short_phrase {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 120%;
  }
  .review_photo {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    overflow: hidden;
  }
  .review_photo img {
    width: 90px;
    height: 90px;
    filter: grayscale(100%);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .review:first-child .review_photo img {
    -o-object-position: 5px 10px;
       object-position: 5px 10px;
    transform: scale(2);
  }
  .review_info {
    width: 310px;
    display: flex;
    flex-direction: column;
    padding: 20px 29px 82px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: -0;
    position: relative;
  }
  .review_author {
    width: 90px;
    top: 118px;
    left: -234px;
    position: absolute;
    text-align: center;
    opacity: 0.6;
  }
  .double_quotes {
    display: none;
  }
  .review_text {
    width: 290px;
    height: 198px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .review_link {
    display: none;
  }
  .review_arrows {
    display: none;
  }
  
  
  /*services*/
  #services {
    width: 600px;
  }
  .tabs-controller {
    width: 100%;
  }
  .tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .tabs-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
  
  }
  .buttons .button {
    width: 200px;
    height: 39px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: -0;
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .button.active {
    color: var(--add-text-color);
    border: 1px solid var(--add-text-color)
  }
  .tab-contents {
    width: 600px;
    height: auto;
  }
  .content .service {
    display: none;
  }
  .content.active .service {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
  }
  .service_brief_info {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    letter-spacing: -0;
  }
  .service_info {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .service_img {
    width: 280px;
    height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 40px;
    filter: grayscale(100%);
  }
  .service_info_text {
    width: 300px;
    height: 206px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  /*Timetable*/
  
  #timetable {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #timetable .side_title {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #timetable .side_title .side_title_description {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #timetable .timetable_hatha {
    width: 600px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
  .tablet {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .timetable {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .days_of_week {
    width: 100%;
    height: 54px;
    display: flex;
    gap: 5px;
  }
  .days_of_week:nth-child(2), .days_of_week:nth-child(4) {
    height: 170px;
  }
  .day {
    width: 160px;
    padding: 16px 20px;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: -0;
    background-color: var(--bg-color-blocks);
    border-radius: 8px;
  }
  .time {
    width: 132px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .many_lessons {
    height: 170px;
  }
  .time p {
    width: 132px;
    height: 54px;
    padding: 16px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -1px;
    text-transform: uppercase;
    background-color: var(--bg-color-blocks);
    border-radius: 8px;
  }
  .days_of_week:nth-child(7) .day,  .days_of_week:nth-child(6) .day{
    background-color: var(--bg-color-add1);
  }
  .instructor {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .instructor p {
    padding: 16px 20px;
    border-radius: 8px;
  }
  .kseniya {
    background-color: var(--bg-color-add3);
  }
  .sergey {
    background-color: var(--bg-color-add2);
  }
  .kseniya, .sergey {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: -0;
  }

  
  /*Offers*/
  
  #special_offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #special_offers .side_title{
    width: 600px;
  }
  #special_offers .side_title p{
    width: 330px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: -0;
  }
  .special_offer {
    width: 100%;
    position: relative;
  }
  .special_offer_img {
    width: 100%;
    height: 425px;
    filter: grayscale(100%);
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
  }
  .special_offer_img .tablet  {
    width: 100%;
    height: 425px;
    -o-object-fit: cover;
       object-fit: cover;
    transform: scale(1.1);
    -o-object-position: 78% 20px;
       object-position: 78% 20px;
  }
  .invite_friend1, .invite_friend2 {
    display: none;
  }
  .decor_elements {
    display: flex;
    justify-content: center;
  }
  .special_offer_info {
    position: absolute;
    top: 0;
    width: 300px;
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 125px;
    
  }
  .info1 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color-add3);
    border-radius: 0px 0px 150px 150px;
    gap: 10px;
  }
  .info1 .part1 {
    font-family: "Playfair Display";
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 110%; 
    letter-spacing: -1px;
    text-transform: lowercase;
    margin-top: -20px;
  }
  .info1 .part2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 52px */
    letter-spacing: -1px;
  }
  .info2 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-add3);
    border-radius: 150px 150px 0 0;
  }
  .info2 .part1 {
    width: 180px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: -0;
    margin-top: 33px;
  }
  .info2 .part2 {
    font-family: "Playfair Display";
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 110%; /* 61.6px */
    letter-spacing: -1px;
    text-transform: lowercase;
  }
  /*PRICES*/

  #prices {
    width: 600px;
    height: auto;
  }
  #prices .tabs-controller .tabs-wrapper .tabs-buttons .buttons .button {
    width: 290px;
  }
  .content {
    display: none;
  }
  .content.active {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }
  .abonement {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--bg-color-blocks);
    border-radius: 20px;
  }
  .group_abonement {
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: start;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bg-color-blocks);
  }
  .abonement_title {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .abonement_teacher {
    width: 100%;
  }
  .abonement_classes {
    width: 157px;
    padding: 8px 20px;
    border-radius: 62px;
    color: var(--add-text-color);
    background-color: var(--bg-color-add1);
  }  
  .abonement_text {
    display: none;    
  }
  .group_abonement.active .abonement_text {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  } 
  .abonement_description {
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }
  .abonement_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .abonement_info p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0;
  }
  .abonement_price {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    letter-spacing: -0;
  }
  
  .strelka {
    position: absolute;
    top: 20px;
    right: 20px;
    
  }
  .group_abonement.active .strelka {
    transform: scaleY(-1);
    transition: transform 0.5s;
  }
  /*ARTICLES*/
  #articles {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: scroll;
  }
  .our_articles {
    width: 1300px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }
  .our_articles::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .our_articles > div {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .article {
    width: 252px;
    height: 257px;
    overflow: hidden;
  }
  .article_img {
    width: 100%;
    height: 188px;
    border-radius: 40px;
    background-color: lightgray;
    overflow: hidden;
  }
  .article_img img {
    width: 100%;
    height: 188px;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(100%);
  }
  .article a {
    text-decoration: none;
  }
  .article a h4:hover {
    opacity: 0.5
  }
  .article a img:hover {
    transform: scale(1.1);
  }
  .article_title {
    margin-top: 6px;
  }
  .our_articles .article:nth-child(1),.our_articles .article:nth-child(4), .our_articles .article:nth-child(7) {
    display: none;
  }
  .article:nth-child(8) a img {
    -o-object-position: 10% 10%;
       object-position: 10% 10%;
  }
  .articles_link {
    text-transform: uppercase;
    color: var(--add-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    letter-spacing: -0;
    text-transform: uppercase;
  }
  
  
  /*FAQ*/
  #FAQ {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
  }
  
  .faq {
    cursor: pointer;
    border-bottom: 1px solid var(--border);
  }
  .faq:first-child {
    border-top: 1px solid var(--border);
  }
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  .answer {
    height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
  }
  .answer p {
    width: 600px;
    margin-bottom: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -0;
  }
  .faq.active .answer {
    height: auto;
    animation: fade 1s ease-in-out;
  }
  .faq svg {
    transition: transform 0.5s;
  }
  .faq.active svg {
    transform: scaleY(-1);
    transition: transform 0.5s;
  }
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  
  /*Footer*/
  
  #footer {
    width: 100%;
  }
  .marquee-text {
    background-color: var(--bg-color-body);
    height: 48px;
    width: 100%; 
    overflow: hidden;
  }
  .marquee-text div {
    display: flex;
    gap: 30px;
    width: 3310px;
    animation: marquee 20s linear infinite;
  }
  .marquee-text img {
    height: 43px;
    width: 43px;
    margin: 0 auto;
    
  }
  .marquee-text div p {
    white-space: nowrap;
    width: 100%;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -1px;
    text-transform: uppercase;
  } 
  
  .add_decor {
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 110%; 
    letter-spacing: -1px;
    text-transform: lowercase;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .footer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    background-color: var(--bg-color-footer);
  }
  .footer_map iframe {
    width: 600px;
    height: 360px;
    margin: 0 20px 38px 20px;
    filter: grayscale(50%);
  }
  .footer_info {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
  }
  .menu {
    width: 320px;
    height: 135px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;
    margin-left: 20px;
    color: var(--bg-color-blocks);
    
  }
  .contacts {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;
    color: var(--bg-color-blocks);
    
  }
  .menu_links {
    height: 110px;
    display: flex;
    flex-flow: column wrap;
    gap: 8px 20px;
  }
  .menu_links li {
    list-style: none;
  }
  .menu_links li a {
    text-decoration: none;
    color: var(--bg-color-blocks);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -0;
    opacity: 70%;
  }
  .contacts_links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    letter-spacing: -0;
    opacity: 70%;
  }
  .social_media {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  .vk {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 13px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border: 1px solid var(--bg-color-blocks);
  }
  .instagram {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border: 1px solid var(--bg-color-blocks);
  }
}