
@import "index.mobile.css";
@import "index.tablet.css";
@import "index.desktop.css";
@import "tabs.css";
@import "buttons.css";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
    --bg-color-body: #FDF9F2;
    --bg-color-footer: #300D5A;
    --bg-color-blocks: #FFFFFF;
    --bg-color-add1: #FFF1D9;
    --bg-color-add2: #DFE2FF;
    --bg-color-add3: #FFE4D7;
    --main-text-color: #3B0878;
    --add-text-color: #F16E2E;
    --border: #8970A8;
}
body {
    background-color: var(--bg-color-body);
    color: var(--main-text-color);
    width: 100%;
    position: relative;
}
.uppercase {
    text-transform: uppercase;
}
.add_text_color {
    color: var(--add-text-color);
}
.add_font {
  font-family: "Playfair Display";
} 
a {
  color: var(--main-text-color);
}

 

